@charset "utf-8";

// Import a desired Google Font
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

//Set Bulma Variables
$family-sans-serif: 'Roboto', sans-serif;
$navbar-background-color: transparent;
$link: #FD8F3B;
$link-hover:  lighten(#FD8F3B, 10%) ;


// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/components/_all.sass";
@import "../node_modules/bulma/sass/elements/_all.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/grid/_all.sass";
@import "../node_modules/bulma/sass/helpers/_all.sass";
@import "../node_modules/bulma/sass/layout/_all.sass";

// Import custom scss 
@import "custom.scss"